<div class="mb-4 text-center">
  <img
    src="{{ "badge-premium-text.svg"|static_assets }}"
    alt="{{ __( 'Shoptet Premium partner', 'shp-partneri' ) }}"
    title="{{ __( 'Shoptet Premium partner', 'shp-partneri' ) }}"
    data-toggle="tooltip"
    height="150px"
    width="150px"
  >
</div>