<div class="list-group-profile mb-4">
    <div class="list-group-profile-item list-group-profile-item-title">
        <h2 class="h4 mb-0">{{ __( 'Kontaktovat partnera', 'shp-partneri' ) }}</h2>
    </div>
    <div class="list-group-profile-item">
        {% include 'profile/contact-form.twig' %}
    </div>
</div>