{% if post.get_field('price_per_hour_display') is not empty %}
  <div class="list-group-profile-item">
    <h2 class="h4">Ceny</h2>

    {% if post.get_field('price_per_hour_display') > 0 %}
      <p class="mb-0">
        {{ post.get_field('price_per_hour_display') }}&nbsp;{{ post.get_field('price_currency')|currency_i18n }}/hod
        {% if post.get_field('vat_payer') %}bez DPH{% else %}(Neplátce DPH){% endif %}
      </p>
    {% endif %}

    {% if post.get_field('price_text') %}
      <p class="mt-2 mb-0 text-muted">
        {{ post.get_field('price_text') }}
      </p>
    {% endif %}
  </div>
{% elseif post.get_field('price') %}
  <div class="list-group-profile-item">
    <h2 class="h4">Ceny</h2>

    <p class="mb-0">
      {{ post.get_field('price') }}
    </p>
  </div>
{% endif %}
