.header-inner {
  padding: 1.5rem 0;

  @include media-breakpoint-up(md) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.882rem 0;
  }
}

.header-logo-group {
  @include media-breakpoint-down(sm) {
    text-align: center;
  }
}

.header-logo-group-desc {
  max-width: 20rem;
  margin-top: 0.75em;
  margin-bottom: 0;
  font-size: 80%;
  line-height: 1.2;
  color: $gray-700;

  @include media-breakpoint-down(sm) {
    margin-left: auto;
    margin-right: auto;
  }

  @include media-breakpoint-up(sm) {
    font-size: 85%;
  }
}

.header-logo {
  display: block;
  height: rem-calc(40px);

  @include media-breakpoint-up(sm) {
    height: rem-calc(55px);
  }

  @include media-breakpoint-up(md) {
    height: rem-calc(37px);
  }

  @include media-breakpoint-up(lg) {
    height: rem-calc(55px);
  }

  img {
    height: 100%;
  }
}

.header-search,
.header-action {
  margin-top: 1rem;

  @include media-breakpoint-up(md) {
    margin-top: 0;
    margin-left: 1rem;
  }

}

.header-logo,
.header-search,
.header-action {
  @include media-breakpoint-down(sm) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.header-search {
  max-width: rem-calc(400px);

  @include media-breakpoint-up(lg) {
    flex-basis: rem-calc(300px);
    width: rem-calc(300px);
  }
}
