<ul class="list list-inline">
  {% for t in terms %}
    <li class="list-inline-item mb-2">
      <a class="btn {% if t.id == term.id %}btn-primary{% else %}btn-secondary{% endif %}" href="{{ t.link|keep_query_string }}">
        {{ t.name }}
      </a>
    </li>
  {% endfor %}
  {% if term %}
    <li class="list-inline-item mb-2">
      <a class="text-muted text-decoration-none px-1 align-middle" href="{{ link.course.archive|keep_query_string }}">
        <i class="fas fa-times text-muted mr-1" aria-hidden="true"></i>{{ __( 'Zrušit filtr', 'shp-partneri' ) }}
      </a>
    </li>
  {% endif %}
</ul>