Dobrý den,
<br><br>
na vaší poptávku někdo reagoval.
<br><br>
{{ message.name }}
<br>
{{ message.email }}
<br>
<br>
----
<br>
<div style="font-style:italic">
  {{ message.message }}
</div>
<br>
----
<br>
<br>
Tvůj Shoptet