Nechceš dostávat další poptávky, z kategorie {{ category_name }} kromě těch,
které jdou z tvého profilu přímo tobě? Tak se odhlaš pomocí linku <a href="{{ unsubscribe_category_link }}">zde</a>.
Pokud už nechceš dostávat poptávky z žádné kategorie, odhlaš se pomocí linku <a href="{{ unsubscribe_all_link }}">zde</a>.
Samozřejmě nám v budoucnu můžeš napsat a opět ti poptávky aktivujeme.
<br><br>
Tvůj Shoptet