.btn {
  font-family: "Neue Haas Grotesk", sans-serif;
  font-weight: 400;
  letter-spacing: $headings-letter-spacing;
}

.btn-xl {
  @include button-size($input-btn-padding-y-xlg, $input-btn-padding-x-xlg, $font-size-lg, $line-height-lg, $btn-border-radius-lg);
}

.btn-facebook {
  @include button-variant($brand-facebook, $brand-facebook);
}

.btn-input {
  @include button-variant($input-bg, $input-border-color, darken($input-bg, 7.5%), $input-border-color);
  color: $gray-600;
}