.filter {
  padding: 1.5rem 1.25rem;
  border: 1px solid #DBDAD7;
  background-color: #F4F3F2;
  border-radius: $border-radius;

  .border-bottom,
  .border-top {
    border-color: #DBDAD7;
  }
}

.filter-link {
  color: $body-color;
  text-decoration: none;

  @include hover-focus {
    color: $body-color;
    text-decoration: none;
  }
}

.filter-link-active {
  font-weight: bold;
}