.go-to-shoptet {
  padding: 0.8rem 0;
  line-height: 1;
  background-color: $blue-light;
  
  a {
    color: $body-color;
    text-decoration: underline;
  }

  a:hover {
    text-decoration: none;
  }
}