.list-tree {
  &, ul {
    list-style: none;
    margin: 0 0 0 .3rem;
    padding: 0;
    padding-bottom: 0.4rem;
    font-size: 85%;
  }

  li {
    position: relative;
    margin: 0;
    border-left:1px solid #DBDAD7;
    padding-left: .8rem;
    line-height: 1.2;
    padding-bottom: .4rem;
  }

  li:first-child {
   padding-top: .4rem;

   &::before {
    top: .2rem;
   }
  }

  li:last-child {
    border-left: none;
    padding-bottom: 0;
  }

  li::before {
    content: '';
    position: absolute;
    top: -.35rem;
    left: 0;
    height: 1em;
    width: 9px;
    border-bottom: 1px solid #DBDAD7;
    display: inline-block;
  }

  li:last-child::before {
    border-left: 1px solid #DBDAD7;
  }
}