.message {
  max-width: 45rem;
  margin: 0 auto;
  color: #535353;
  background-color: #F8F8F8;
}

.message-container {
  padding: 2rem;
}

.message-title {
  font-size: 1.8rem;
}

.message-subtitle {
  font-weight: 600; 
  color: #A4CA17;
}