.section-content {
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1.25rem;
    font-weight: bold;
  }

  > *:last-child {
    margin-bottom: 0;
  }

  .btn {
    display: inline-block;
    margin-top: 0.5rem;
  }
}