<div class="go-to-shoptet">
  <div class="container">
    <a href="https://www.shoptet.hu/" target="_blank"><i class="fas fa-arrow-left mr-2" aria-hidden="true"></i>Go to <strong>Shoptet.hu</strong></a>
  </div>
</div>