<div class="go-to-shoptet">
  <div class="container">
    <a href="{{ options.shoptetUrl }}" target="_blank"><i class="fas fa-arrow-left mr-2" aria-hidden="true"></i>{{ __( 'Přejít na <strong>Shoptet.cz</strong>', 'shp-partneri' ) }}</a>
  </div>
</div>