{% extends "base.twig" %}

{% block breadcrumb %}
	<div class="row-breadcrumb row-breadcrumb-bg">
		<div class="container">
			{% include 'breadcrumb.twig' %}
		</div>
	</div>
{% endblock %}

{% block content %}

<div class="row-category-header row-category-header-breadcrumb">
  <div class="container">
    <div class="row-category-header-wrapper">

      <div class="row-category-header-body">
        <h1 class="row-category-header-title">{{ __( 'Nástroje', 'shp-partneri' ) }}</h1>
        {% if options.perexTool %}
          <div class="row-profile-type-perex">
            {{ options.perexTool }}
          </div>
        {% endif %}

      </div>

    </div>
  </div>
</div>

	{% if show_category_tools %}
		<div class="row-profile-type">
			<div class="container">
				{% include 'category/list.twig' with {'terms': category_tools} %}

			</div>
		</div>
	{% endif %}


{% endblock %}
