{% extends "base.twig" %}

{% block breadcrumb %}{% endblock %}

{% block header %}
	{% include 'header-blank.twig' %} 
{% endblock %}

{% block content %}
<div class="py-5">
	<div class="container">
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6 offset-md-3">
				<div class="mb-4">
					<h2>{{ __( 'Kontakt', 'shp-partneri' ) }}</h2>
					{{ post.content }}
				</div>
				{% include 'contact-form.twig' %} 				
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block footer %}{% endblock %}