{% if options.themeReferenceShowHomepage and options.themeReferences|length > 0 %}
  <div class="row-reference">
    <div class="container">

      {% if options.themeReferences|length > 1 %}
        <div class="splide">
          <div class="splide__track">
            <div class="splide__list">
              {% for reference in options.themeReferences %}
                <div class="splide__slide">
                  {% include 'reference.twig' %}
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      {% else %}
        {% include 'reference.twig' with {reference:options.themeReferences.0 } %}
      {% endif %}

    </div>
  </div>
{% endif %}
