<div class="row-badges row-breadcrumb-bg pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h2>Kontakt</h2>
                {{ options.themeComplaintContactText }}
            </div>
            <div class="col-sm-12 col-md-6">
                {{ options.themeComplaintContact }}
            </div>
        </div>
    </div>
</div>
