<div class="row-badges row-breadcrumb-bg pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h2>{{ __( 'Kontakt', 'shp-partneri' ) }}</h2>
                {{ options.themeComplaintContactText }}
            </div>
            <div class="col-sm-12 col-md-6">
                {% if read_only_enabled %}
                    {% do action('read_only_fallback') %}
                {% else %}
                    {{ options.themeComplaintContact }}
                {% endif %}
            </div>
        </div>
    </div>
</div>
