{% extends "base.twig" %}

{% block head %}
	<link rel="canonical" href="{{ post.link }}">

	<meta property="og:url" content="{{ post.link }}">
	<meta property="og:type" content="profile">

{% endblock %}

{% block breadcrumb %}
	<div class="row-breadcrumb row-breadcrumb-bg">
		<div class="container">
			{% include 'breadcrumb.twig' %}
		</div>
	</div>
{% endblock %}

{% block content %}

	<div
		itemscope
		itemtype="http://schema.org/Organization"
	>
	
		<div class="row-profile row-profile-breadcrumb">
			<div class="container">

				{% if not options.hideBadges %}
					<div class="d-lg-none">
						{% include 'profile/verified.twig' %}
					</div>
				{% endif %}

				<div class="row">
					<div class="col-lg-7 col-xl-8">

						<div class="list-group-profile content-with-images mb-4 mb-sm-0">

							{% include 'profile/main.twig' %}

							{% include 'profile/price.twig' %}

							{% include 'profile/about.twig' %}

							{% include 'profile/references.twig' %}

						</div>

					</div>
					<div class="col-lg-5 col-xl-4">
						{% if not options.hideBadges %}
							{% if post.get_field('isVerified') is not empty %}
								<div class="d-none d-lg-block">
									{% include 'profile/verified.twig' %}
								</div>
							{% endif %}
						{% endif %}

						{% include 'profile/contact.twig' %}

						{% if post.get_field('recommendations') is not empty %}
							{% include 'profile/recommendation.twig' %}
						{% endif %}
					</div>

					<hr>
				</div>

			</div>
		</div>

		<div class="{{ similar_posts|length > 0 ? 'border-bottom' }}">
			<div class="container pt-5">
				<div class="row">
					<div class="col-xl-9">
						{% include 'reviews.twig' %}
					</div>
				</div>
			</div>
		</div>

	</div>

	{% if similar_posts|length > 0 %}
		<div class="row-profile-list">
			<div class="container">
					<h2 class="row-profile-list-title">{{ __( 'Nevybrali jste? Co zkusit jiné?', 'shp-partneri' ) }}</h2>
					{% include 'profile/list.twig' with {'posts': similar_posts, 'hide_cta': true} %}
			</div>
		</div>
	{% endif %}

{% endblock %}
