{% extends "base.twig" %}

{% block head %}
	<link rel="canonical" href="{{ post.link }}">
	<meta property="og:url" content="{{ post.link }}">
	<meta property="og:type" content="profile">
{% endblock %}

{% block breadcrumb %}
	<div class="row-breadcrumb row-breadcrumb-bg">
		<div class="container">
			{% include 'breadcrumb.twig' %}
		</div>
	</div>
{% endblock %}

{% block content %}

<div
	class="row-profile row-profile-breadcrumb"
	itemscope
	itemtype="http://schema.org/Demand"
>
	<div class="container">

		<div class="row">
			<div class="col-lg-1 col-xl-2"></div>
			<div class="col-lg-10 col-xl-8">

				<div class="list-group-profile mb-4">

					{% include 'request/header.twig' %}

					{% include 'request/content.twig' %}

				</div>

				<div class="list-group-profile">
					<div class="list-group-profile-item" data-form data-form-type="request" {% if post.terms is not empty %}id="general_request~{{ post.terms.0.slug }}"{% endif %}>

						{% include 'request/contact-form.twig' %}

					</div>
				</div>

			</div>
		</div>

	</div>
</div>

{% endblock %}
