@font-face {
  font-family: "Neue Haas Grotesk";
  src: url("../fonts/NHaasGroteskDSPro-35XLt.otf");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Neue Haas Grotesk";
  src: url("../fonts/NHaasGroteskDSPro-55Rg.otf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Neue Haas Grotesk";
  src: url("../fonts/NHaasGroteskDSPro-65Md.otf");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}