.wf-active {

  body {
    font-family: $font-family-wf-active;
  }

  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $headings-font-family-wf-active;
  }
}

b, strong {
  font-weight: $font-weight-bold;
}

input,
button,
select,
optgroup,
textarea {
  font-family: "Source Sans Pro", sans-serif;
}

@include media-breakpoint-down(sm) {
  h1,
  .h1 {
    font-size: 2.0704rem;
  }
  h2,
  .h2 {
    font-size: 1.5528rem;
  }
  h3,
  .h3 {
    font-size: 1.3239rem;
  }
  h4,
  .h4 {
    font-size: 1.0962rem;
  }
  h5,
  .h5,
  h6,
  .h6 {
    font-size: 1rem;
  }
}
