.wf-active {
  body {
    font-family: $font-family-wf-active;
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  letter-spacing: $headings-letter-spacing;
}

.display {
  font-weight: 400;
  line-height: 1.3;
}

b, strong {
  font-weight: $font-weight-bold;
}

input,
button,
select,
optgroup,
textarea {
  font-family: "Source Sans Pro", sans-serif;
}

@include media-breakpoint-down(sm) {
  h1,
  .h1 {
    font-size: 2.0704rem;
  }
  h2,
  .h2 {
    font-size: 1.5528rem;
  }
  h3,
  .h3 {
    font-size: 1.3239rem;
  }
  h4,
  .h4 {
    font-size: 1.0962rem;
  }
  h5,
  .h5,
  h6,
  .h6 {
    font-size: 1rem;
  }
}

.alignleft {
  float: left;
  margin: 0.5em 0.5em 0 1em;
}

.alignright {
  float: right;
  margin: 0.5em 0 0.5em 1em;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.small-gutters {
  margin-left: -10px;
  margin-right: -10px;

  > *[class^="col-"] {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.page-link {
  text-decoration: none;
}

.shp_footer {
    * {
        font-family: $font-family-sans-serif !important;
    }
    border-top: 0 !important;
    a {
        color: theme-color('primary') !important;
        text-decoration: underline !important;

        &:hover, &:focus {
            color: $body-color !important;
        }
    }
}

.shp_footer .shp_footer-copyright {
    font-size: 14px !important;
}

.shp_footer-main {
    font-family: $font-family-sans-serif !important;

    p {
        color: #6c757d !important;
    }
    ul li a,
    a {
        color: #6c757d !important;
        text-decoration: none !important;
        font-weight: 500 !important;

        &:hover, &:focus {
            color: theme-color('primary') !important;
        }
    }
    ul {
        padding-left: 0 !important;
        list-style-image: none !important;
    }
    .footer-privacy-policy {
        color: #6c757d !important;

        a {
            color: theme-color('primary') !important;
            text-decoration: underline !important;

            &:hover, &:focus {
                color: $body-color !important;
            }
            font-weight: 400 !important;
        }
    }
}


body .shp_footer form.shp_footer-try-us-form button[type="submit"],
body .shp_footer form.newsletter-form button[type="submit"],
body .comment-respond #submit {
  @extend .btn;
  @extend .btn-primary;
  font-weight: $btn-font-weight !important;
  border-radius: $btn-border-radius !important;
}

.shp_footer {
  input, textarea {
      border-radius: 0 !important;
      box-shadow: none !important;

      &:focus {
          border-color: theme-color('primary') !important;
      }
  }
}

.shp_footer form.shp_footer-try-us-form .fieldset,
.shp_footer form.newsletter-form .fieldset
.shp_footer form input, .shp_footer form button,
.shp_footer form.newsletter-form input[type="email"] {
    border-radius: 0 !important;
}