$blue-light: lighten($blue, 43%);
$green-light: #f2f7de;

$brand-facebook: #3b5998;
$brand-twitter: #1da1f2;
$brand-linkedin: #0077b5;
$brand-instagram: #E1306C;

$font-family-wf-active: "Libre Franklin", sans-serif;
$headings-letter-spacing: 0.03rem;
$headings-font-family-wf-active: $font-family-wf-active;

$input-btn-padding-y-xlg:    1.3rem;
$input-btn-padding-x-xlg:    2.4rem;

$category-thumbnail-spacing: 1.5rem;
$profile-thumbnail-spacing: 1.5rem;

$row-reference-triangle-size: 30px;
$row-reference-image-size: 150px;

$row-breadcrumb-padding-y: 1rem;

$profile-thumbnail-border-color: $gray-300;
