<table border="0" width="100%" cellpadding="0" cellspacing="0"
  style="background-color:efefef;border:0;border-collapse:collapse;font-size:13px!important;font-family:arial,sans-serif"
  bgcolor="efefef">
  <tbody>
    <tr>
      <td height="40" style="color:#efefef;font-size:1px"></td>
    </tr>
    <tr>
      <td align="center">
        <table width="800" cellpadding="0" align="center" cellspacing="0" border="0"
          style="border:0;border-collapse:collapse;font-size:13px!important">
          <tbody>
            <tr>
              <td align="center"><img align="top"
                  src="https://ci5.googleusercontent.com/proxy/qcdBrg48Dulq5PvaX-JH0ybFc8hkHdgR9hb735RYP4-5tVaNQOTqcAbuDQ8c_wTunGUrnvfozje9kZusYAQzeIT8dAzVqLwcF8m5xVIuoDXkWuGJ-gtPjbLot6Ji3w=s0-d-e1-ft#https://cdn.myshoptet.com/prj/a9a6472b/master/cms/img/email/shadow-left.png"
                  style="display:block;height:294px;margin:0;width:10px" width="10" height="294" border="0" alt="">
              </td>
              <td align="center" style="background-color:#ffffff" bgcolor="#ffffff">
                <table border="0" align="center" width="780" cellpadding="0" cellspacing="0"
                  style="background-color:ffffff;border:0;border-collapse:collapse;font-size:13px!important"
                  bgcolor="ffffff">
                  <tbody>
                    <tr>
                      <td height="1"></td>
                    </tr>
                    <tr>
                      <td>
                        <table border="0" align="center" width="750" cellpadding="0" cellspacing="0"
                          style="background-color:ffffff;border:0;border-collapse:collapse;font-size:13px!important"
                          bgcolor="ffffff">
                          <tbody>
                            <tr>
                              <td height="25"></td>
                            </tr>
                            <tr>
                              <td>
                                <table border="0" align="center" width="740" cellpadding="0" cellspacing="0"
                                  style="background-color:ffffff;border:0;border-collapse:collapse;font-size:13px!important"
                                  bgcolor="ffffff">
                                  <tbody>
                                    <tr>
                                      <td align="center" width="740"><a href="https://www.shoptet.cz/"
                                          style="border:0 none;color:#f5756c;display:block;max-height:100px;max-width:590px;text-decoration:none"
                                          rel="noreferrer" target="_blank"
                                          data-saferedirecturl="https://www.google.com/url?hl=cs&amp;q=https://www.shoptet.cz/&amp;source=gmail&amp;ust=1554185473497000&amp;usg=AFQjCNGNRpfxXxNGSfpkz41kX9FbpnBy3A"><img
                                            height="75" border="0"
                                            style="display:block;height:auto;margin:0;max-height:75px;max-width:none!important;width:auto!important"
                                            src="https://ci3.googleusercontent.com/proxy/gaVvVjaATA-gcVDGzm1pf9BTnE2_udpL50CzgRh7d7o2HyW5k-mq9kw7n5EW3GDSIrmcLW1_dUmFDsWW3xWZNSwGN4ZuU_oI1jIyzo8PdoHlxGs-GcPeoV3sSpK7YhyC3q-GH_zG6LM=s0-d-e1-ft#https://podpora.shoptet.cz/attachments/token/EY9vx2Ec8NlBI5I8xoeRQYZf4/?name=logo.png"
                                            alt=" ">
                                        </a></td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            <tr>
                              <td height="40"></td>
                            </tr>
                            <tr>
                              <td align="center">
                                <table border="0" width="740" align="center" cellpadding="0" cellspacing="0"
                                  style="border:0;border-collapse:collapse;font-size:13px!important">
                                  <tbody>
                                    <tr>
                                      <td align="left" style="color:#474747;font-size:13px;padding:0 10px">
                                        <h1
                                          style="color:#000000;font-size:18px!important;font-weight:400;margin:20px 0;padding:0;text-transform:uppercase"
                                          dir="auto"
                                        >
                                          Zpráva z Partneri.Shoptet.cz
                                        </h1>
                                        {% block content %}
                                        {% endblock %}
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
              <td align="center"><img align="top"
                  src="https://ci6.googleusercontent.com/proxy/CI89Kgr7Snxs3om1eKRmTiFZsWvRPHenNiKyoiwXdS48B2alScR4JzIper5rOs7kX5yUXPkWZGeNKxS08X6xfmS7KCoyFP77Ws8FB4TGcg9H3ja9F4q1FefTPl7WpXQ=s0-d-e1-ft#https://cdn.myshoptet.com/prj/a9a6472b/master/cms/img/email/shadow-right.png"
                  style="display:block;height:294px;margin:0;width:10px" width="10" height="294" border="0" alt="">
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td align="center">
        <table width="800" cellpadding="0" align="center" cellspacing="0" border="0"
          style="border:0;border-collapse:collapse;font-size:13px!important">
          <tbody>
            <tr>
              <td align="center" height="16" style="font-size:6px;height:16px;line-height:0">
                <img
                  src="https://ci3.googleusercontent.com/proxy/r_o23XwYRcGxUkdLi7SW4JPEdUUhIPb-EHyY2xk6ngYJWyy43hHh29ixzpeKYYBsK54MuD8dh-vJrm5DEz-jFLP-X2LeWKAo8_2VOzPdbo76B-K2s0RMS1HtB3mIISU=s0-d-e1-ft#https://cdn.myshoptet.com/prj/a9a6472b/master/cms/img/email/envelope-top.png"
                  style="display:block;height:16px;margin:0;width:800px" width="800" height="16" alt="" align="left"
                  border="0">
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td align="center">
        <table width="800" cellpadding="0" align="center" cellspacing="0" border="0"
          style="border:0;border-collapse:collapse;font-size:13px!important">
          <tbody>
            <tr>
              <td align="center" height="84" style="font-size:6px;height:84px;line-height:0">
                <img
                  src="https://ci4.googleusercontent.com/proxy/TwpEei4xcq6H6ZZGT7Nr9jZRBEtocvLy1ExnF7G4PUaIpm1nGaxVzJDzy0HnjyraECHOP3XeOS30snWShLmV6wJdEoKK7eHwKlmmYeipwciZCK8n6SGY6ZtUCnqmZMA=s0-d-e1-ft#https://cdn.myshoptet.com/prj/a9a6472b/master/cms/img/email/top-envelope.png"
                  style="display:block;height:84px;margin:0;width:800px" width="800" height="84" alt="" align="left"
                  border="0">
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td align="center">
        <table width="800" cellpadding="0" align="center" cellspacing="0" border="0"
          style="border:0;border-collapse:collapse;font-size:13px!important">
          <tbody>
            <tr>
              <td align="left" height="69" style="background-color:f7f7f7;font-size:6px;height:69px;line-height:0"
                bgcolor="f7f7f7">
                <img
                  src="https://ci3.googleusercontent.com/proxy/kGpW3ATO6dWmvNCmIQQxmF65YrXvTX4l1ZgLbstgZe48zdBMFCdooJ-bHT0p6z7Im2Q5TOZ6ueEmNg4y5hoER_eef3Zc9M-49zn_NS1_NpS8BLKLw2yy61MyQ9J3pJogkDrL2k12tQ=s0-d-e1-ft#https://cdn.myshoptet.com/prj/a9a6472b/master/cms/img/email/middle-envelope-left.png"
                  style="display:block;height:69px;margin:0;width:282px" width="282" height="69" alt="" align="left"
                  border="0">
              </td>
              <td align="center" style="background-color:f7f7f7;line-height:0" bgcolor="f7f7f7">
                <table width="30%" cellspacing="0" cellpadding="0" border="0" align="center"
                  style="border:0;border-collapse:collapse;font-size:13px!important">
                  <tbody>
                    <tr>
                      <td align="center">&nbsp; </td>
                    </tr>
                  </tbody>
                </table>
              </td>
              <td align="right" height="69" style="background-color:f7f7f7;font-size:6px;height:69px;line-height:0"
                bgcolor="f7f7f7">
                <img
                  src="https://ci6.googleusercontent.com/proxy/J3j2xidH-5uVAn5-chQUT_n1dEhVQ_-zXD_pLcsTdgqqOFuoyEukAjh49dkodPnVQrLgbjYbATDiX9LEbpr1Ps9j242PxH6q9JJVlqLZV90a5YikwSI_17V-VYkWd_XgmLBvvU0RlX8=s0-d-e1-ft#https://cdn.myshoptet.com/prj/a9a6472b/master/cms/img/email/middle-envelope-right.png"
                  style="display:block;float:right;height:69px;margin:0;width:282px" width="282" height="69" alt=""
                  align="right" border="0">
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td align="center">
        <table width="800" cellpadding="0" align="center" cellspacing="0" border="0"
          style="border:0;border-collapse:collapse;font-size:13px!important">
          <tbody>
            <tr>
              <td align="left" height="105" style="background-color:f7f7f7;font-size:6px;height:105px;line-height:0"
                bgcolor="f7f7f7">
                <img
                  src="https://ci6.googleusercontent.com/proxy/makpQSDjwZxLNJifeQ8TWihCPnD0kmsHdJkeCzCurrxyI7b9WO486IHOt3GpjMOfntrqwkvN4A4242s2-CmM4pe1nNnjT27r5SCXvVz2m_dbW1KwGIjJYbI8O2piJaD5pcvlGFR8AQ=s0-d-e1-ft#https://cdn.myshoptet.com/prj/a9a6472b/master/cms/img/email/bottom-envelope-left.png"
                  style="display:block;height:105px;margin:0;width:166px" width="166" height="105" alt="" align="left"
                  border="0">
              </td>
              <td align="center" style="background-color:f7f7f7;line-height:0" bgcolor="f7f7f7">
                <table width="100%" cellpadding="0" align="center" cellspacing="0" border="0"
                  style="background-color:f7f7f7;border:0;border-collapse:collapse;font-size:13px!important"
                  bgcolor="f7f7f7">
                  <tbody>
                    <tr>
                      <td align="center" style="color:#474747;font-size:11px">E-mail odeslán z <a
                          href="https://www.shoptet.cz/" style="color:#f5756c;text-decoration:none" rel="noreferrer"
                          target="_blank"
                          data-saferedirecturl="https://www.google.com/url?hl=cs&amp;q=https://www.shoptet.cz/&amp;source=gmail&amp;ust=1554185473497000&amp;usg=AFQjCNGNRpfxXxNGSfpkz41kX9FbpnBy3A">
                          Shoptet.cz</a> </td>
                    </tr>
                  </tbody>
                </table>
              </td>
              <td align="right" height="105" style="background-color:f7f7f7;font-size:6px;height:105px;line-height:0"
                bgcolor="f7f7f7">
                <img
                  src="https://ci5.googleusercontent.com/proxy/Is8DTnijLpm4vwf1SEEA16IapSqwYMYwJQuQo8mwESO69J-35cGVUHpAUVsJTaI8FWUQ6HbyCEY_R7JAgkybTfZEqcDCLfZHs1Q3BjiWp88JfZle86tce-bjwzvB87KUGrZmWjunv5c=s0-d-e1-ft#https://cdn.myshoptet.com/prj/a9a6472b/master/cms/img/email/bottom-envelope-right.png"
                  style="display:block;float:right;height:105px;margin:0;width:166px" width="166" height="105" alt=""
                  align="right" border="0">
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td height="50"></td>
    </tr>
  </tbody>
</table>