<table border="0" width="100%" cellpadding="0" cellspacing="0"
  style="background-color:efefef;border:0;border-collapse:collapse;font-size:13px!important;font-family:arial,sans-serif"
  bgcolor="efefef">
  <tbody>
    <tr>
      <td height="40" style="color:#efefef;font-size:1px"></td>
    </tr>
    <tr>
      <td align="center">
        <table width="800" cellpadding="0" align="center" cellspacing="0" border="0"
          style="border:0;border-collapse:collapse;font-size:13px!important">
          <tbody>
            <tr>
              <td align="center"><img align="top"
                  src="https://cdn.myshoptet.com/prj/a9a6472b/master/cms/img/email/shadow-left.png"
                  style="display:block;height:294px;margin:0;width:10px" width="10" height="294" border="0" alt="">
              </td>
              <td align="center" style="background-color:#ffffff" bgcolor="#ffffff">
                <table border="0" align="center" width="780" cellpadding="0" cellspacing="0"
                  style="background-color:ffffff;border:0;border-collapse:collapse;font-size:13px!important"
                  bgcolor="ffffff">
                  <tbody>
                    <tr>
                      <td height="1"></td>
                    </tr>
                    <tr>
                      <td>
                        <table border="0" align="center" width="750" cellpadding="0" cellspacing="0"
                          style="background-color:ffffff;border:0;border-collapse:collapse;font-size:13px!important"
                          bgcolor="ffffff">
                          <tbody>
                            <tr>
                              <td height="25"></td>
                            </tr>
                            <tr>
                              <td>
                                <table border="0" align="center" width="740" cellpadding="0" cellspacing="0"
                                  style="background-color:ffffff;border:0;border-collapse:collapse;font-size:13px!important"
                                  bgcolor="ffffff">
                                  <tbody>
                                    <tr>
                                      <td align="center" width="740"><a href="https://www.shoptet.cz/"
                                          style="border:0 none;color:#f5756c;display:block;max-height:100px;max-width:590px;text-decoration:none"
                                          rel="noreferrer" target="_blank"><img
                                            height="75" border="0"
                                            style="display:block;height:auto;margin:0;max-height:75px;max-width:none!important;width:auto!important"
                                            src="https://podpora.shoptet.cz/attachments/token/EY9vx2Ec8NlBI5I8xoeRQYZf4/?name=logo.png"
                                            alt=" ">
                                        </a></td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            <tr>
                              <td height="40"></td>
                            </tr>
                            <tr>
                              <td align="center">
                                <table border="0" width="740" align="center" cellpadding="0" cellspacing="0"
                                  style="border:0;border-collapse:collapse;font-size:13px!important">
                                  <tbody>
                                    <tr>
                                      <td align="left" style="color:#474747;font-size:13px;padding:0 10px">
                                        <h1
                                          style="color:#000000;font-size:18px!important;font-weight:400;margin:20px 0;padding:0;text-transform:uppercase"
                                          dir="auto"
                                        >
                                          {{ __( 'Zpráva z Partneri.Shoptet.cz', 'shp-partneri' ) }}
                                        </h1>
                                        {% block content %}
                                        {% endblock %}
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
              <td align="center"><img align="top"
                  src="https://cdn.myshoptet.com/prj/a9a6472b/master/cms/img/email/shadow-right.png"
                  style="display:block;height:294px;margin:0;width:10px" width="10" height="294" border="0" alt="">
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td align="center">
        <table width="800" cellpadding="0" align="center" cellspacing="0" border="0"
          style="border:0;border-collapse:collapse;font-size:13px!important">
          <tbody>
            <tr>
              <td align="center" height="16" style="font-size:6px;height:16px;line-height:0">
                <img
                  src="https://cdn.myshoptet.com/prj/a9a6472b/master/cms/img/email/envelope-top.png"
                  style="display:block;height:16px;margin:0;width:800px" width="800" height="16" alt="" align="left"
                  border="0">
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td align="center">
        <table width="800" cellpadding="0" align="center" cellspacing="0" border="0"
          style="border:0;border-collapse:collapse;font-size:13px!important">
          <tbody>
            <tr>
              <td align="center" height="84" style="font-size:6px;height:84px;line-height:0">
                <img
                  src="https://cdn.myshoptet.com/prj/a9a6472b/master/cms/img/email/top-envelope.png"
                  style="display:block;height:84px;margin:0;width:800px" width="800" height="84" alt="" align="left"
                  border="0">
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td align="center">
        <table width="800" cellpadding="0" align="center" cellspacing="0" border="0"
          style="border:0;border-collapse:collapse;font-size:13px!important">
          <tbody>
            <tr>
              <td align="left" height="69" style="background-color:f7f7f7;font-size:6px;height:69px;line-height:0"
                bgcolor="f7f7f7">
                <img
                  src="https://cdn.myshoptet.com/prj/a9a6472b/master/cms/img/email/middle-envelope-left.png"
                  style="display:block;height:69px;margin:0;width:282px" width="282" height="69" alt="" align="left"
                  border="0">
              </td>
              <td align="center" style="background-color:f7f7f7;line-height:0" bgcolor="f7f7f7">
                <table width="30%" cellspacing="0" cellpadding="0" border="0" align="center"
                  style="border:0;border-collapse:collapse;font-size:13px!important">
                  <tbody>
                    <tr>
                      <td align="center">&nbsp; </td>
                    </tr>
                  </tbody>
                </table>
              </td>
              <td align="right" height="69" style="background-color:f7f7f7;font-size:6px;height:69px;line-height:0"
                bgcolor="f7f7f7">
                <img
                  src="https://cdn.myshoptet.com/prj/a9a6472b/master/cms/img/email/middle-envelope-right.png"
                  style="display:block;float:right;height:69px;margin:0;width:282px" width="282" height="69" alt=""
                  align="right" border="0">
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td align="center">
        <table width="800" cellpadding="0" align="center" cellspacing="0" border="0"
          style="border:0;border-collapse:collapse;font-size:13px!important">
          <tbody>
            <tr>
              <td align="left" height="105" style="background-color:f7f7f7;font-size:6px;height:105px;line-height:0"
                bgcolor="f7f7f7">
                <img
                  src="https://cdn.myshoptet.com/prj/a9a6472b/master/cms/img/email/bottom-envelope-left.png"
                  style="display:block;height:105px;margin:0;width:166px" width="166" height="105" alt="" align="left"
                  border="0">
              </td>
              <td align="center" style="background-color:f7f7f7;line-height:0" bgcolor="f7f7f7">
                <table width="100%" cellpadding="0" align="center" cellspacing="0" border="0"
                  style="background-color:f7f7f7;border:0;border-collapse:collapse;font-size:13px!important"
                  bgcolor="f7f7f7">
                  <tbody>
                    <tr>
                      <td align="center" style="color:#474747;font-size:11px">{{ __( 'E-mail odeslán z <a href="%s" style="%s" rel="noreferrer" target="_blank">Shoptet.cz</a> ', 'shp-partneri' )|format('https://www.shoptet.cz/', 'color:#f5756c;text-decoration:none') }} </td>
                    </tr>
                  </tbody>
                </table>
              </td>
              <td align="right" height="105" style="background-color:f7f7f7;font-size:6px;height:105px;line-height:0"
                bgcolor="f7f7f7">
                <img
                  src="https://cdn.myshoptet.com/prj/a9a6472b/master/cms/img/email/bottom-envelope-right.png"
                  style="display:block;float:right;height:105px;margin:0;width:166px" width="166" height="105" alt=""
                  align="right" border="0">
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td height="50"></td>
    </tr>
  </tbody>
</table>