
<table width="100%" border="0" cellspacing="0" cellpadding="0" style="padding-top:40px;">
  <tr>
    <td align="center">
      <table border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td align="center" style="border-radius:5px;" bgcolor="#14b1ef">
            <a
              href="{{ url }}"
              target="_blank"
              style="
                font-size: 20px;
                color: #ffffff;
                text-decoration: none;
                border-radius: 5px;
                padding: 12px 16px;
                border: 1px solid #14b1ef;
                display: inline-block;
              "
            >
              {{ text }}
            </a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
