<table width="100%" border="0" cellspacing="0" cellpadding="0" style="padding-top:40px;">
  <tr>
    <td align="center">
      <a
        href="{{ url }}"
        style="
          color: #fff;
          background-color: #14b1ef;
          border-radius: 5px;
          padding: 12px 16px;
          font-size: 20px;
          text-decoration: none;
        "
        rel="noreferrer"
        target="_blank"
      >{{ text }}</a>
    </td>
  </tr>
</table>