<table border="0" cellspacing="1" cellpadding="0" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;font-size:13px;width:auto;">
  <tr>
    <td>
      {% for i in 1..5 %}<span style="color:{{ i <= rating ? '#F7A12A' : '#BCBCBC' }}">★</span>{% endfor %}
    <td>
  </tr>
</table>