<table border="0" cellspacing="1" cellpadding="0" style="font-size:13px;padding-bottom:8px;">
  <tr>
    {% for i in 1..5 %}
      <td style="color:{{ i <= rating ? '#F7A12A' : '#BCBCBC' }}">★</td>
    {% endfor %}
  </tr>
</table>