{% extends "templates/mailing/base.twig" %}

{% block content %}

  <table border="0" cellspacing="0" cellpadding="0" style="padding-bottom:8px;">
    <tr>
      <td style="padding-bottom:13px;">{{ __('Děkujeme za vložený příspěvek.', 'shp-partneri') }}</td>
    </tr>
    <tr>
      <td style="padding-bottom:13px;">{{ __('Pro jeho odeslání ke schválení prosím klikněte na tlačítko „Odeslat“ pod přehledem vašeho příspěvku.', 'shp-partneri') }}</td>
    </tr>
  </table>

	{% if comment.rating %}
	  {% include 'templates/mailing/rating-stars.twig' with {rating:comment.rating} %}
  {% endif %}

	{% include 'templates/mailing/review.twig' with {content:comment.comment_content|nl2br} %}    

	{% include 'templates/mailing/cta.twig' with {url:auth_url,text:__('Odeslat', 'shp-partneri') } %}  

{% endblock %}