{% extends "templates/mailing/base.twig" %}

{% block content %}

  <table border="0" cellspacing="0" cellpadding="0" style="padding-bottom:8px;">
    <tr>
      <td style="padding-bottom:13px;">Gratulujeme!</td>
    </tr>
    <tr>
      <td style="padding-bottom:13px;">Váš klient si udělal čas a dostali jste od něj nové hodnocení.<br>Přečíst a reagovat na něj můžete přímo v detailu <a href="{{ post.link~'#comment-'~comment.ID }}" target="_blank" style="color:#f5756c;text-decoration:none;">svého medailonku</a>.</td>
    </tr>
  </table>

  {% if comment.rating %}
	  {% include 'templates/mailing/rating-stars.twig' with {rating:comment.rating} %}
  {% endif %}

	{% include 'templates/mailing/review.twig' with {content:'Kdo hodnocení přidal:'} %}    

	{% include 'templates/mailing/cta.twig' with {url:post.link~'#comment-'~comment.ID,text:'Přečíst hodnocení'} %}  

{% endblock %}