{% extends "templates/mailing/base.twig" %}

{% block content %}

  <table border="0" cellspacing="0" cellpadding="0" style="font-size:17px;padding-bottom:10px;">
    <tr>
      <td style="padding-bottom:16px;">Děkujeme za vložený příspěvek.</td>
    </tr>
    <tr>
      <td style="padding-bottom:16px;">Pro jeho odeslání ke schválení prosím klikněte na tlačítko „Odeslat“<br>pod přehledem vašeho příspěvku.</td>
    </tr>
  </table>

	{% if comment.rating %}
	  {% include 'templates/mailing/rating-stars.twig' with {rating:comment.rating} %}
  {% endif %}

	{% include 'templates/mailing/review.twig' with {content:comment.comment_content|nl2br} %}    

	{% include 'templates/mailing/cta.twig' with {url:auth_url,text:'Odeslat'} %}  

{% endblock %}